.navbar-inverse {
  height: 68px;
  div#bs-example-navbar-collapse-1 {
	  margin: 9px 0 0 0;
	}
  .logo{
	  font-size: 30px;
  	span {
			font-size: 13px;
			display: block;
			padding: 4px 0 0 0;
		}
	}
}
.header {
	padding: 120px 0;
}